<div id="bg">
  <img [src]="myImage" alt="" >
</div>
<form>
  <div class="nes-container with-title card-holder">
    <p class="title">Sign In</p>
    <ng-template pTemplate="header" >

    </ng-template>
    <div [style]="{'margin-top': '2REM', 'margin-left': '20px'}">
      <span class="p-float-label">
      <h5>Username</h5>
        <input id="float-input" placeholder="Username" type="text" pInputText [(ngModel)]="username"/>
      <h5>Password</h5>
      <input placeholder="Password" type="password" pInputText [(ngModel)]="password"/>
    </span>
    <!-- <span class="p-float-label">
          <p-password [(ngModel)]="value2"></p-password>
      <label for="float-input">Username</label>
    </span> -->
    <a class=" nes-btn is-primary">Sign In</a>
    <div  [style]="{'margin-left': '20px'}">
      <a style="color: rgb(27, 27, 27); opacity: 0.5; font-size: small;" [routerLink]="'/signUp'">New User? Click to Sign Up!!</a>
    </div>

    </div>
  </div>
</form>
